In [151]:
#What do variables mean? 
#Variables are entities of a program that hold a value like X=200.

#To understand this better [ The box is holding a value. A variable would be the name given to the box]

#X would be the variable name and 200 would be the value of the variable.


#As we'll go through the various topics here, you'll have the better understanding why we use and how to use them.


#Various Data Types of Variables.


#Let me explain what Data Types are.


#What do Data Types mean? 
#The type of value that you assign to the variables.

#There are two types of numbers Integers and Float.
#Integers means numbers without a decimal point.
#Float means numbers with a decimal point.

#Other than this a Common data type is String. 
#Sting means a collection of characters [any words]

In [ ]:
#In this code snippet, we declare a variable X and assign it the value of 100.
#The next line of code type(X) is used to determine the type of X. In this case, X is an integer, so running this line of code will output <class 'int'>.

#The type() function is a built-in Python function that returns the type of the object passed to it.
#In this case, we passed the variable X to the type() function, and it returned the type of X, which is int.

#This code is a simple example of how to use Python variables and the type() function to determine the type of a variable.
#By assigning a value to a variable, we can store data in memory and manipulate it in our code.
#The type() function is a useful tool for debugging and verifying the type of data in our code.


X = 200
type(X)

In [88]:
#We declare a variable X and assign it the result of the arithmetic operation 648*789. When this line of code is executed, Python multiplies 648 and 789, and assigns the result to X. In this case, X has a value of 512472.

#The next line of code type(X) is used to determine the type of X. In this case, X is an integer, so running this line of code will output <class 'int'>.

#The type() function is a built-in Python function that returns the type of the object passed to it. In this case, we passed the variable X to the type() function, and it returned the type of X, which is int.


X = 648*789
type(X)

int

In [89]:
#We declare a variable X and assign it the result of the arithmetic operation 648*789. When this line of code is executed, Python multiplies 648 and 789, and assigns the result to X. In this case, X has a value of 512472.

#The print() function is then used to output the value of X to the console. When this line of code is executed, Python prints the value of X to the console, which in this case is 512472.


X = 648*789
print(X)

511272

In [90]:
#we declare a variable X and assign it the value 3.254. This value is a decimal or a floating-point number. When this line of code is executed, Python assigns the value 3.254 to X.

#The next line of code type(X) is used to determine the type of X. In this case, X is a floating-point number, so running this line of code will output <class 'float'>.

#The type() function is a built-in Python function that returns the type of the object passed to it. In this case, we passed the variable X to the type() function, and it returned the type of X, which is float.


X = 3.254
type(X)

float

In [91]:
#We declare a variable X and assign it the string value "Python". The print() function is then used to output the value of X to the console. When this line of code is executed, the string "Python" will be printed to the console.

#In Python, we can use single or double quotes to create string literals. In this case, we used double quotes, but single quotes would also work. The print() function is a built-in Python function that outputs data to the console. When we pass the variable X as an argument to print(), it will output the value of X to the console.


X = "Python"
print(X)

Python

In [153]:
#In the first line of code, we declare a variable X and assign it a string value of "Python" using double quotes. Double quotes and single quotes are both used to declare string literals in Python, and in this case, the string is enclosed in double quotes.

#In the second line of code, we declare a variable X and assign it a string value of "Python" using single quotes. Again, single quotes and double quotes can be used interchangeably to declare strings in Python.

#The third line of code print(X) is used to print the value of X to the console. Since the value of X is the same in both lines of code, running this line of code after either line will output the string "Python".

#The type(X) function is used in the first line of code to determine the type of X. In this case, X is a string, so running this line of code will output <class 'str'>.

#The main difference between the two lines of code is the type of quotes used to enclose the string value. While both double quotes and single quotes can be used to declare strings in Python, it's important to be consistent in your usage throughout your code.

X = 'Python'
print(X)

Python

In [92]:
#We declare a variable X and assign it a string value of "Python". When this line of code is executed, Python creates a string object with the value "Python", and assigns it to the variable X.

#The next line of code type(X) is used to determine the type of X. In this case, X is a string, so running this line of code will output <class 'str'>.


X = "Python"
type(X)

str

In [ ]:
#In Python, a tuple is an ordered, immutable sequence of elements. This means that once a tuple is created, its contents cannot be changed. Tuples are represented using parentheses () and can contain elements of any data type, including other tuples.

#Tuples are similar to lists in that they can store multiple elements, but there are some important differences:

#Lists are mutable, which means that their contents can be changed after they are created, while tuples are immutable and cannot be changed.
#Lists are represented using square brackets [], while tuples are represented using parentheses ().
#Lists are typically used when we need to store a collection of items that can be modified over time, while tuples are used when we need to store a collection of items that should not be modified once they are created.

#Overall, tuples can be a useful tool in Python for storing collections of data that should not be modified once they are created, and understanding the differences between tuples and lists is important for writing effective Python code.

In [93]:
#LIST

#In Python, a list is a data structure that allows you to store a collection of elements. It is a mutable object, which means that you can add, remove, or modify elements after you have created the list. Lists are created using square brackets [] and separating the elements with commas.

In [94]:
#we declare a variable X and assign it a list of three integer values: 18, 58, and 48. The square brackets [] are used to define the list, and the values are separated by commas.

#The print() function is then used to output the contents of X to the console. When this line of code is executed, Python will display the list [18, 58, 48] in the console.

#Lists are one of the most commonly used data structures in Python. They are used to store a collection of values that can be accessed and manipulated in various ways.


X = [18,58,48]
print(X)

[18, 58, 48]

In [95]:
#we declare a variable X and assign it a list containing three integer values: 18, 58, and 48. In Python, a list is a collection of items that are ordered and changeable.

#The next line of code type(X) is used to determine the type of X. In this case, X is a list, so running this line of code will output <class 'list'>.

#The type() function is a built-in Python function that returns the type of the object passed to it. In this case, we passed the variable X to the type() function, and it returned the type of X, which is list.


X = [18,58,48]
type(X)

list

In [96]:
#we declare a variable named X and assign it a list containing the elements 18, 58, and 48. The list is created using square brackets [], and the elements are separated by commas. This type of list is called a numeric list, as it contains only numbers.

#The next line of code print(X[0]) accesses the first element of the list X, which has an index of 0. In Python, list indices start at 0, so the first element of the list has an index of 0, the second element has an index of 1, and so on. By accessing the first element of the list using its index, we can print its value to the console using the print() function.

#In this case, running this line of code will output 18 to the console, since 18 is the value of the first element in the list.


X = [18,58,48]
print(X[0])

18

In [97]:
#we declare a list variable named X and assign it a list of integers [18, 58, 48]. Lists in Python are used to store collections of items, such as numbers, strings, or other objects.

#The next line of code, print(X[2]), prints the third item in the list X, which has an index of 2. In Python, list indexing starts at 0, so the first item in the list has an index of 0, the second item has an index of 1, and so on. Since we want to print the third item in the list, we use an index of 2.

#When this line of code is executed, the value 48 is printed to the console.


X = [18,58,48]
print(X[2])

48

In [98]:
#This code creates a list named X that contains three integer values: 18, 58, and 48. The list is created using square brackets to enclose the values, separated by commas.

#The next line of code X[1] = 20 changes the value of the second element in the list (at index 1) to 20. In Python, list indices start at 0, so the second element in the list has an index of 1.

#Finally, the print(X) function is used to display the contents of the list after the change has been made. The output will show that the second element (at index 1) has been changed from 58 to 20, while the other elements remain the same.

#This code demonstrates how to create a list in Python, access and modify elements of the list, and how to use the print() function to display the contents of the list.


X = [18,58,48]
X[1] = 20
print(X)

[18, 20, 48]

In [99]:
#TUPLE

#In Python, a tuple is an ordered, immutable sequence of elements. This means that once a tuple is created, its contents cannot be changed. Tuples are represented using parentheses () and can contain elements of any data type, including other tuples.
#One of the main benefits of tuples is that they are more efficient than lists when it comes to storing and accessing elements. This is because tuples are stored in a contiguous block of memory, while lists are stored in a fragmented block of memory that needs to be resized as elements are added or removed.

#Tuples are similar to lists in that they can store multiple elements, but there are some important differences:

#Lists are mutable, which means that their contents can be changed after they are created, while tuples are immutable and cannot be changed.
#Lists are represented using square brackets [], while tuples are represented using parentheses ().
#Lists are typically used when we need to store a collection of items that can be modified over time, while tuples are used when we need to store a collection of items that should not be modified once they are created.

#Overall, tuples can be a useful tool in Python for storing collections of data that should not be modified once they are created.

In [100]:
#we declare a variable X and assign it a tuple with the values 2, 5, 8, and 6. A tuple is a data structure in Python that can store multiple values of different types in a single variable. Tuples are immutable, which means their values cannot be changed once they are assigned.

#The next line of code print(X) is used to print the contents of X to the console. When this line of code is executed, Python will output (2, 5, 8, 6) to the console.

#By declaring a variable and assigning it a tuple of values, this example demonstrates how to use tuples in Python to store multiple values in a single variable. The print() function is used to display the contents of the tuple in the console.


X = (2,5,8,6)
print(X)

(2, 5, 8, 6)

In [101]:
#we declare a variable named X and assign it a tuple of four elements (2,5,8,6). A tuple is an ordered collection of elements, similar to a list, but it is immutable, which means its elements cannot be changed once it is created.

#The next line of code, type(X), is used to determine the type of X. When this line of code is executed, Python returns the type of X, which is <class 'tuple'>.

#The type() function is a built-in Python function that returns the type of the object passed to it. In this case, we passed the variable X to the type() function, and it returned the type of X, which is tuple.


X = (2,5,8,6)
type(X)

tuple

In [102]:
#we declare a variable X and assign it a tuple (2, 5, 8, 6). A tuple is an ordered collection of items, and is similar to a list in Python, but cannot be modified once it is created.

#The next line of code print(X[2]) uses the print() function to output the third item in the tuple. In Python, indexes start at 0, so X[2] refers to the third item in the tuple, which has a value of 8. Therefore, running this line of code will output 8.

#This example demonstrates how to create a tuple in Python, and how to access the items in the tuple using index notation. By using the print() function, we can output the value of a specific item in the tuple to the console.


X = X = (2,5,8,6)
print(X[2])

8

In [103]:
#we declare a variable X and assign it a tuple (2, 5, 8, 6). As mentioned before, a tuple is an ordered collection of items that cannot be modified once it is created.

#The next line of code X[1] = 20 attempts to modify the second item in the tuple to a new value of 20. However, since tuples are immutable in Python, this operation will result in a TypeError, with a message saying 'tuple' object does not support item assignment.

#Finally, print(X) attempts to output the modified tuple to the console. However, since the previous line of code raised an error, this line of code will not execute.

#This example demonstrates how Python handles immutable data structures like tuples, and how attempting to modify them can lead to errors. It also shows how Python's error messages can provide helpful information in diagnosing the source of the problem.


X = X = (2,5,8,6)
X[1] = 20
print(X)

TypeError: 'tuple' object does not support item assignment

In [104]:
(x,y,z) = 4,5,7
print(x)
print(y)
print(z)

4
5
7

In [106]:
(x,y,z) = 4,5,7
print(x,y,z)

4 5 7

In [105]:
(x,y) = 4,5,7

ValueError: too many values to unpack (expected 2)

In [107]:
(x,y,z) = 2,2,2
print(x,y,z)

2 2 2

In [108]:
x = y = z = 1
print(x,y,z)

1 1 1

In [109]:
abc = 234
print(abc)

234

In [110]:
#Rules for naming a variables.

In [111]:
#First Rule.
#Variable name must begin with an alphabet or an underscore(_).
#Like abc, _abc, not like 5abc, %abc.

In [112]:
_abc = 234
print(_abc)

234

In [113]:
7abc = 234
print(7abc)

SyntaxError: invalid syntax (1305303204.py, line 1)

In [114]:
&abc = 234
print(&abc)

SyntaxError: invalid syntax (1793590979.py, line 1)

In [115]:
#Second Rule.
#The first character can be followed by alphabets,numbers or underscore.
#Like a102, _a342_, not like a589$, xyz-4.

In [116]:
a102 = 75
print(a102)

75

In [117]:
_a342_ = 75
print(_a342_)

75

In [118]:
a589$ = 75
print(a589$)

SyntaxError: invalid syntax (2465945915.py, line 1)

In [119]:
xyz-4 = 75
print(xyz-4)

SyntaxError: cannot assign to operator (1300602142.py, line 1)

In [120]:
#Third Rule.
#Variables names are case sencitive.
#a250 is different from A250.

In [121]:
a250 = 34
A250 = 56
print(a250)
print(A250)

34
56

In [122]:
a250 = 34
A250 = 56
b250 = 78
print(a250, b250, A250)

34 78 56

In [123]:
a250 = 34
A250 = 56
b250 = 78
print(a250, A250, b250)

34 56 78

In [124]:
#Fourth Rule.
#Reserved words cannot be used as variable names.
#Like break, class, try, and all...

In [125]:
break = 56
print(break)

SyntaxError: invalid syntax (2061180873.py, line 1)

In [126]:
try = 56
type(try)

SyntaxError: invalid syntax (3468253508.py, line 1)

In [127]:
#Arithmetic Operators

In [128]:
x = 4
y = 9
result = x-y
print(result)

-5

In [129]:
x = 4
y = 9
result = x*y
print(result)

36

In [130]:
x = 4
y = 9
result = x/y
print(result)

0.4444444444444444

In [131]:
x = 4
y = 9
result = x//y
print(result)

0

In [132]:
x = 4
y = 2
result = x/y
print(result)

2.0

In [133]:
x = 4
y = 9
result = x//y
print(result)

0

In [134]:
x = 4
y = 9
result = x%y
print(result)

4

In [135]:
x = 4.47
y = 9.76
result = x/y
print(result)

0.4579918032786885

In [136]:
#String Operations

In [137]:
var = "python"
type(var)

str

In [138]:
var = "python"
print(var[0])

p

In [139]:
var = "python"
print(var[5])

n

In [140]:
var = "python"
print(var[0:1])

p

In [141]:
var = "python"
print(var[0:2])

py

In [142]:
var = "python"
print(var[0:5])

pytho

In [143]:
var = "python"
print(var[0:6])

python

In [144]:
var = "python"
print(var[:5])

pytho

In [145]:
var = "python"
print(var[:6])

python

In [146]:
var = "python"
print(var[0:])

python

In [147]:
var = "python"
print(var[2:])

thon

In [148]:
var = "python"
print(var[0:50])

python

In [149]:
var = "python"
print(var[5:25])

n

In [150]:
var = "python"
len(var)

6